@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Open+Sans&family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --size: 20px;
}

html,
textarea,
pre {
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  line-height: var(--size);
}

body {
  padding: var(--size);
}

#page {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

h1,
label {
  width: 100%;
  text-align: center;
}

#radio-group-container,
#upload-container {
  padding: var(--size) 0;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  width: min-content;
}

#radio-group-container input {
  margin-right: 4px;
}

#radio-group-container input:nth-child(3) {
  margin-left: var(--size);
}

label[for='type-of-generator'] {
  text-align: left;
}

label[for='excluded-pairs'],
label[for='radio-group-container'] {
  text-align: left;
}

label[for='radio-group-container'] {
  margin-top: 18px;
}

textarea {
  margin-top: var(--size);
  padding: 8px;
  font-size: 16px;
  resize: vertical;
}

label[for='student-list'] {
  padding: calc(var(--size) + 2px);
  color: white;
  background-color: green;
  border-radius: 4px;
  cursor: pointer;
  width: calc(100vw - 40px);
  max-width: 500px;
  font-size: 18px;
}

label[for='student-list']:hover {
  background-color: rgb(1, 102, 1);
}

#student-list {
  display: none;
}

pre {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button,
#shuffleBtn {
  padding: var(--size);
  font-size: 18px;
  color: white;
  background-color: blue;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
}

#shuffleBtn {
  background-color: white;
  border: 2px solid blue;
  color: black;
  margin-bottom: 8px;
}

button:hover {
  background-color: rgb(0, 0, 184);
}

#shuffleBtn:hover {
  background-color: #f3f3f3;
  border-color: rgb(0, 0, 184);
}
